html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {}

#board {}

#rows-container {
    display: flex;
    flex-direction: column;
}

.row {}

.cols-container {
    display: flex;
    flex-direction: row;
}

.cell {
    cursor: default;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #CCCCCC;
    border-top: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell.revealed {
    background-color: #bdbdbd;
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-bottom: 0 none;
    border-right: 0 none;
    width: 33px;
    height: 33px;
}

.cell.flagged {
    background-color: #ff0000;
}