html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#rows-container {
    display: flex;
    flex-direction: column;
}

.cols-container {
    display: flex;
    flex-direction: row;
}

.cell {
    cursor: default;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #CCCCCC;
    border-top: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell.revealed {
    background-color: #bdbdbd;
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-bottom: 0 none;
    border-right: 0 none;
    width: 33px;
    height: 33px;
}

.cell.state-flagged {
    background-color: #ff0000;
}

.cell.state-questioned {
    background-color: #880088;
}

.cell .mine {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
    vertical-align: middle;
}